*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 100vh;
    width: 100%;
    background-color: blue;

}
.list_items{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 7rem;
    color: white;
    list-style: none;
}
.list_items li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.main_section{
    padding: 6rem 7rem;
}
.paragraph{
    font-weight: bolder;
    font-size: xx-large;
    color: white;
}
.second_para{
    padding-top: 1.5rem;
    font-weight: bold;
    color: white;
}
.btn{
    padding-top: 1.5rem;
}
.btn button{
    background-color: red;
    color: white;
    border-radius: 2rem;
    padding: .4rem;
    font-weight: bold;
    cursor: pointer;
}
